<p style="margin-bottom:20px;">
	<ul style="list-style:none;">
		<li><a href="/">Back to home</a></li>
	</ul>
</p>


{% if data %}
  <h3>Sample viewing a particular venture with title: <i>{{ data.title }}</i>!</h3>
  <p>
  	owner:<i>{{ data.owner }}</i><br>
  	sector:<i>{{ data.sector }}</i><br>
  	country:<i>{{ data.country }}</i><br>
  	latitude:<i>{{ data.latitude }}</i><br>
  	longitude:<i>{{ data.longitude }}</i><br>
  	pitch:<i>{{ data.summary }}</i><br>
  </p>
{% else %}
  <h1>Not venture was found </h1>
{% endif %}